@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
}

/*Carousel*/

#carousel1 {
    text-shadow: 1px 1px 2px #333;
    width: 700px;
    height: 460px;
    margin: 0 auto;
    top: 40px;
    box-shadow: 14px 15px 88px -8px rgba(0, 0, 0, 0.75);
}

.carousel-control-prev-icon {
    background-image: url("../assets/back.svg");

}

.carousel-control-next-icon {
    background-image: url("../assets/next.svg");

}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 60px;
    width: 60px;
}

img {
    border: 1px solid #594f4f;
    border-radius: 0.10rem;
}

.carousel-indicators li {
    background-color: #ddcccc;
    width: 30px;
    height: 2px;
}

.carousel-indicators .active {
    background-color: #45ADA8;
}

.carousel-caption {
    bottom: 100px;
}

.bg-dark {
    background-color: #ffffff !important;
}

/*Accordion*/

#accordion {
    margin-top: 75px;
}

.card {
    width: 700px;
    margin: 0 auto;
    border: none;
}

.card-header {
    border: none;
}

.card-text {
    text-align: center;
}

.btn-info {
    background-color: #45ADA8;
    border: none;
}

.btn-info:hover {
    background-color: #594f4f !important;
}

.btn-info.focus, .btn-info:focus {
    box-shadow: none !important;
}

.btn {
    border-radius: 0.10rem;
}







