@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
}

/*Carousel*/

#carousel1 {
    text-shadow: 1px 1px 2px #333;
    width: 700px;
    height: 460px;
    margin: 0 auto;
    top: 40px;
    box-shadow: 14px 15px 88px -8px rgba(0, 0, 0, 0.75);
}

.carousel-control-prev-icon {
    background-image: url("../assets/back.svg");

}

.carousel-control-next-icon {
    background-image: url("../assets/next.svg");

}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 60px;
    width: 60px;
}

img {
    border: 1px solid #594f4f;
    border-radius: 0.10rem;
}

.carousel-indicators li {
    background-color: #ddcccc;
    width: 30px;
    height: 2px;
}

.carousel-indicators .active {
    background-color: #45ADA8;
}

.carousel-caption {
    bottom: 100px;
}

.bg-dark {
    background-color: #ffffff !important;
}

/*Accordion*/

#accordion {
    margin-top: 75px;
}

.card {
    width: 700px;
    margin: 0 auto;
    border: none;
}

.card-header {
    border: none;
}

.card-text {
    text-align: center;
}

.btn-info {
    background-color: #45ADA8;
    border: none;
}

.btn-info:hover {
    background-color: #594f4f !important;
}

.btn-info.focus, .btn-info:focus {
    box-shadow: none !important;
}

.btn {
    border-radius: 0.10rem;
}

/*Uploader*/

hr {
    margin-top: 50px;
}

.dropbox {
    outline: 2px dashed #13ae96;
    outline-offset: -10px;
    background: #efe6e6;
    color: dimgray;
    padding: 10px 10px;
    height: 200px;
    width: 200px;
    position: relative;
    cursor: pointer;
}

.input-file {
    opacity: 0;
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
}

.dropbox:hover {
    background: #ffffff;
}

.dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
}

.uploading, .uploaded {
    color: #594f4f;
    text-align: center;
}

.uploaded {
    margin-top: 50px;
}

.upload-again {
    color: #45ADA8 !important;
}

.form-uploader {
    width: 200px;
    margin: 0 auto;
}

.form-uploader > .title {
    text-shadow: 1px 0 0 #47afaa;
    color: #45ADA8;
    text-align: center;
    margin-top: 50px;
}

.upload-info {
    text-align: center;
}

.uploaded-success {
    text-shadow: 1px 0 0 #47afaa;
    color: #45ADA8;

}

.upload-again {
    color: #45ada8 !important;
    border: dashed;
    width: 200px;
    margin: 0 auto;
}

.upload-again a {
    color: #594f4f;
    font-weight: bold;
}

.list-unstyled .img-thumbnail {
    width: auto;

}

.list-unstyled li {
    margin-bottom: 15px;
    margin-top: 15px;

}






